### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !\.(png|jpg|gif|css|js)$
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]